@media (max-width: 767px) {
    .section-title {
        margin-left: 2em;
    }

    .fonctionnement__fonctionnementEtapes {
        flex-direction: column;
        align-items: center;
    }

    .fonctionnement__fonctionnementEtapes__etape {
        width: 90%;
    }

    .restaurants-cards {
        flex-direction: column;
    }

    .restaurants-cards a {
        width: 90%;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .logoFooter {order: 1;}
    .proposer {order: 2;}
    .devenir {order: 3;}
    .mentions {order: 4;}
    .contact {order: 5;}
}

@media (min-width: 768px) {
    .section-title {
        margin-left: 13%;
    }

    .fonctionnement__fonctionnementEtapes {
        flex-direction: row;
        display: flex;
        justify-content: center;
    }

    .fonctionnement__fonctionnementEtapes__etape {
        width: 23em;
    }

    .restaurants-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurants-cards a {
        width: 35%;
    }

    footer {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .footer__logo {
        margin-top: 1.3em;
    }
}

@font-face {
    font-family: "Roboto";
    src: url(Roboto/Roboto-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

h2 , h3 , p {
    font-family: "Roboto";
}

main {
    animation-name: bodyAppear;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
}

@keyframes bodyAppear {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }  
}

#loader__animation {
    width: 180px;
    height: 180px;
    border: 10px solid #cccccc;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.35, 0.36, 0.72, 0.72);
    animation-fill-mode: forwards;
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 5px 10px #99e2d0, 60px -16px #acabab;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      border-top: 30px solid #9356dc;
      opacity: 1;
      box-shadow: 5px 40px #99e2d0, 60px -16px #acabab;
    }
    50% {
      transform: rotate(360deg);
      border-top: 40px solid #ff79da;
      opacity: 0.95;
      box-shadow: 15px 10px #99e2d0, 20px -16px #acabab;
      border-radius: 50%;
    }
    74% {
      border-radius: 30%;
    }
    75% {
      transform: rotate(540deg);
      opacity: 0.9;
      box-shadow: 5px 10px #99e2d0, -20px 16px #acabab;
    }
    85% {
      border-radius: 50%;
    }
    100% {
      border-radius: 50%;
      transform: rotate(720deg);
      border-top: 50px solid #9356dc;
      opacity: 0;
      box-shadow: 25px 35px #99e2d0, 10px 26px #acabab;
    }
}
  
a {
    color: black;
    text-decoration: none;
}

header {
    width: 100%;
    box-shadow: 0px 2px 4px 0px #00000026;
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 10em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.searchBar {
    height: 3em;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar__input {
    border: none;
    background-color: #EAEAEA;
    text-align: center;
}

.menu {
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 0.1em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.menu p {
    color: #353535;
}

.menu__button {
    z-index: 1;
    margin-top: 2em;
    margin-bottom: 3em;
    height: 4em;
    border-radius: 25px;
    background: linear-gradient(357deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__button:hover {
    filter: brightness(110%);
    box-shadow: 0px 6px 8px 0px #00000040;
}

.fa-mobile-screen-button , 
.fa-list-ul {
    color: #7e7e7e;
}

.fa-store {
    color: #9356DC;
}

.section-title {
    font-size: 22px;
}

.fonctionnement {
    margin-top: 5em;
}

.fonctionnement__fonctionnementEtapes {
    display: flex;
    width: 78%;
    margin-left: 10%
}

.fonctionnement__fonctionnementEtapes__etape {
    margin-top: 2em;
    margin-left: 2em;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fonctionnement__fonctionnementEtapes__etape__div {
    border: 1px solid #9356DC;
    background-color: #9356DC;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100%;
}

.fonctionnement__fonctionnementEtapes__etape__div__numero {
    display: flex;
    font-family: "Roboto";
    align-items: center;
    color: #FFFFFF;
}

.fonctIcone {
    margin-right: 1em;
}

.restaurants {
    margin-top: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #f2f2f2;
}

.restaurants-cards a {
    margin: 2em;
}

.restaurants-cards .card-content {
    line-height: 8px;
    padding-left: 15px;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
}

.restaurants-cards {
    display: flex;
    align-items: center;
}

.restaurants-cards img {
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.restaurants-cards .card-subtitle {
    margin: 0;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
}

.card-content {
    position: relative;
}

.card__nouveau {
    position: absolute;
    font-family: "Roboto";
    color: #008766;
    background-color: #99E2D0;
    right: 1em;
    top: 1em;
    height: 2em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    position: absolute;
    font-size: large;
    margin-left: 85%;
}

.fa-heart:hover {
    animation: heart 500ms ease-in-out;
    opacity: 1;
    background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
}
@keyframes heart {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

footer {
    display: flex;
    width: 100%;
    font-family: "Roboto";
    background-color: #353535;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer__logo {
    width: 10em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.elemImgFooter>*  , .elemFooter {
    color: #FFFFFF;
    margin-left: 1em;
    margin-top: 0.5em;
}