@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    a {
        color: black;
        text-decoration: none;
    }

    header {
        width: 100%;
        box-shadow: 0px 2px 4px 0px #00000026;
        display: flex;
        justify-content: center;
    }

    .header__logo {
        width: 10em;
        margin-bottom: 1em;
    }

    .searchBar {
        height: 3em;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchBar__input {
        border: none;
        background-color: #EAEAEA;
        text-align: center;
    }

    .menu {
        background-color: #f2f2f2;
        padding-top: 0.1em;
        padding-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .menu__button {
        margin-top: 2em;
        margin-bottom: 3em;
        height: 4em;
        border-radius: 25px;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px 0px #00000040;
        border: none;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-mobile-screen-button , 
    .fa-list-ul {
        color: #7e7e7e;
    }

    .fa-store {
        color: #9356DC;
    }

    .section-title {
        margin: 0;
        font-size: 22px;
        margin-left: 1em;
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
    }

    .fonctionnementEtapes {
        display: flex;
        flex-direction: column; 
    }

    .etape {
        margin-top: 2em;
        margin-left: 2em;
        background-color: #f2f2f2;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #00000026;
        width: 20em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fonctIcone {
        margin-right: 1em;
    }

    .restaurants {
        margin-top: 5em;
        padding-top: 5em;
        padding-bottom: 5em;
        background-color: #f2f2f2;
    }

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .restaurants-cards a {
        width: 90%;
        margin: 2em;
    }

    .restaurants-cards .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .card img {
        object-fit: cover;
    }

    .restaurants-cards img {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-title {
        font-size: 16px;
    }

    .restaurants-cards .card-subtitle {
        margin: 0;
    }

    .card {
        width: 90%;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fa-heart:hover {
        color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #353535;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer__logo {
        width: 10em;
        margin-left: 1em;
        margin-bottom: 1em;
    }

    .elemImgFooter>*  , .elemFooter {
        color: #FFFFFF;
        margin-left: 1em;
        margin-top: 0.5em;
    }

    .logoFooter {order: 1;}
    .proposer {order: 2;}
    .devenir {order: 3;}
    .mentions {order: 4;}
    .contact {order: 5;}
}
@media (min-width: 768px) {
    body {
        max-width: 1440px;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a {
        color: black;
        text-decoration: none;
    }

    header {
        width: 100%;
        box-shadow: 0px 2px 4px 0px #00000026;
        display: flex;
        justify-content: center;
    }

    .header__logo {
        width: 10em;
        margin-bottom: 1em;
    }

    .searchBar {
        height: 3em;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchBar__input {
        border: none;
        background-color: #EAEAEA;
        text-align: center;
    }

    .menu {
        background-color: #f2f2f2;
        padding-top: 0.1em;
        padding-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .menu__button {
        margin-top: 2em;
        margin-bottom: 3em;
        height: 4em;
        border-radius: 25px;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px 0px #00000040;
        border: none;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-mobile-screen-button , 
    .fa-list-ul {
        color: #7e7e7e;
    }

    .fa-store {
        color: #9356DC;
    }

    .section-title {
        margin: 0;
        font-size: 22px;
        margin-left: 1em;
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
    }

    .fonctionnementEtapes {
        display: flex;
        flex-direction: row; 
    }

    .etape {
        margin-top: 2em;
        margin-left: 2em;
        background-color: #f2f2f2;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #00000026;
        width: 20em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fonctIcone {
        margin-right: 1em;
    }

    .restaurants {
        margin-top: 5em;
        padding-top: 5em;
        padding-bottom: 5em;
        background-color: #f2f2f2;
    }

    .restaurants-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .restaurants-cards a {
        width: 90%;
        margin: 2em;
    }

    .restaurants-cards .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .card img {
        object-fit: cover;
    }

    .restaurants-cards img {
        width: 100%;
        height: 134px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-title {
        font-size: 16px;
    }

    .restaurants-cards .card-subtitle {
        margin: 0;
    }

    .card {
        width: 90%;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fa-heart:hover {
        color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background-color: #353535;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer__logo {
        width: 10em;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-top: 1.3em;
    }

    .elemImgFooter>*  , .elemFooter {
        color: #FFFFFF;
        margin-left: 1em;
        margin-top: 0.5em;
    }
}